.left__block {
  width: 460px;
  height: 473.99px;
}

.left__block-button {
  display: flex;
  gap: 7px;
  justify-content: center;
  align-items: center;
  background: #4252d1;
  border-radius: 10px;
  width: 119px;
  height: 32px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  color:var(--text-color);
}

@media screen and (min-width: 1200px) {
  .left__block-button {
    margin-left: 0;
    margin-right: auto;
  }
}

.left__block-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 52.7273px;
  line-height: 65px;
  text-transform: uppercase;

  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .left__block-titl {
    font-weight: 800;
    font-size: 77px;
  }
}

.container__text {
  width: 419px;
  height: 108px;
  padding: 0 7px 0 1px;
}

.left__block-label {
  background: var(--title-color);
  border-radius: 5px;
  transform: rotate(-3.51deg);
width: 76.26px;
  height: 27.53px;
}
@media screen and (min-width: 1200px) {
  .left__block-label {
  width: 106px;
  height: 38px;
  }
}
.left__block-text_l {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
    line-height: 20px;
  
  padding: 4px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
}
@media screen and (min-width: 1200px) {
.left__block-text_l {
  font-size: 23.6391px;
    line-height: 29px;
  }
}
.left__block-b {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 30px;
}

.left__block-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;

  color:var(--text-color);
  font-size: 15px;
  line-height: 18px;
}
@media screen and (min-width: 1200px) {
  .left__block-text {
    font-size: 21.9494px;
    line-height: 26px;
  }
}
.text {
  font-family: "Gilroy";
  font-style: normal;
  font-size: 14px;
  line-height: 148%;
  color:var(--text-color);
  text-align: center;
  width: 328px;
}
@media screen and (min-width: 1200px) {
  .text {
    width: 419px;
    text-align: start;
  }
}

.left__block-wage {
  background: #4252d1;
  border-radius: 3px;
  width: 90px;
  height: 27px;
  text-align: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 17.332px;
  line-height: 148%;
  color:var(--text-color);
}

.left__block-bonus {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 16px;
}

.left__block-speaker {
  display: flex;
  gap: 16px;
  align-items: center;
  // margin-top: 522px;
}
// @media screen and (min-width: 1200px) {
//   .left__block-speaker {
//     margin-top: 0px;
//   }
// }

.left__block-text-h4,
.left__block-text-h4-color {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 120%;
  text-transform: uppercase;
  color:var(--text-color);
}

.left__block-text-h4-color {
  color: #4252d1;
}

.left__block-speaker-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  color: var(--text-color);
  width: 161px;
}
@media screen and (min-width: 1200px) {
  .left__block-speaker-text {
  width: 307px;
  }
}

.left__block_text-h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 148%;
  color:var(--text-color);
}

.left__block_text {
  font-family: "Gilroy";
  font-style: normal;
  font-size: 12px;
  line-height: 148%;
  color: var(--text-color);
  width: 202px;
}
@media screen and (min-width: 1200px) {
  .left__block_text {
    width: 307px;
  }
}
.left__block-media {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 522px;
  gap: 22px;
  margin-left: 50px;
 

}
@media screen and (min-width: 1200px) {
  .left__block-media {
  flex-direction: column;
  margin-top: 0px;
  margin-left: 0px;
  }
}