.light_left {
    position: absolute;
    width: 399.01px;
    height: 400.31px;
    left: -31.33px;
    bottom: 489.69px;

    background: #332F65;
    opacity: 0.5;
    filter: blur(103.131px);
    transform: rotate(9.41deg);
}

.light_right {
    position: absolute;
    width: 490.65px;
    height: 393.23px;
    left: 1000px;
    bottom: 342.77px;

    background: #332F65;
    opacity: 0.8;
    filter: blur(103.131px);
    transform: rotate(9.41deg);
}