   /* ========= color========================== */
$text-c: #212121;

:root {
    --text-color: #ffffff;
    --circle-color: #332f65;
    --title-color: #ff3459;
}

@font-face {
    font-family: "Gilroy";
    src: url("/fonts/Gilroy-ExtraBold.otf") format("woff2");
}
